body{       
    background-color:darkslategray;
    
    font-family: sans-serif;    
}

h1{
  color:#66BFBF;
  font-size: 3.26em;
  margin-top: 0

}
h2{
    color: #fe8890;
    font-weight: normal;
}

p{
    color: firebrick;
    font-weight: bold;
    font-style: italic;
    
}